.meeting-card {
  background: var(--bg-gradient-1);
  box-shadow: var(--inner-glow);
  padding: 30px;
  border-radius: 30px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.meeting-card .top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.meeting-card .top .title {
  font-size: 15px;
  font-size: large;
  font-weight: 600;
}

.meeting-card .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.meeting-card .bottom .users-container {
  display: flex;
  align-items: center;
  flex-grow: 1; /* Allows the container to take available space */
}

.meeting-card .bottom .users-container .profile {
  border: solid 4px var(--primary);
}

.meeting-card .bottom .users-container .profile:not(:first-child) {
  margin-left: -30px;
}

.meeting-card .bottom .action-button {
  margin-left: auto; /* Pushes the button to the right side */
}
